body {
  background-color: #f6eee3;
}

.container {
  margin: 50px auto;
  text-align: center;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    "sans-serif";
  color: rgba(32, 34, 38, 0.905);
}

.images {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  border: none;
}

.image {
  width: 250px;
  height: auto;
  border-radius: 50%;
  cursor: pointer;
}

.result {
  font-size: xx-large;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(32, 34, 38, 0.905);
  text-transform: uppercase;
  text-align: center;
  display: none;
}

.choice {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 70px;
  font-size: x-large;

  color: rgba(32, 34, 38, 0.905);
}
.score {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 70px;
  font-size: x-large;
  color: rgba(32, 34, 38, 0.905);
}
